{{#each this}}

  <div class="card">
    <div class="card-info">
      <div class="card-avatar" data-name="{{this.id}}"></div>
      <div class="card-title">{{this.name}}</div>
      <div class="card-subtitle">{{this.password}}</div>
    </div>
    <ul class="card-social">
      <li class="card-social__item">
        <p class="p">{{this.date}}</p>
        <p class="p change-js" data-name="{{this.id}}">змінити</p>

      </li>
    </ul>
  </div>

{{/each}}